<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Rein van der Woerd" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
</head>
<body>
  <header class="navbar navbar-default"
          role="banner">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span class="full">REIN VAN DER WOERD</span>
          <span class="short">R.VDWOERD</span>
          <!--λ.rein.vdwoerd-->
        </a>
      </div>
      <div class="navbar"
           role="navigation">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Writing', '/' %></li>
          <li><%= link_to 'Portfolio', '/portfolio' %></li>
          <li><%= link_to 'About', '/about' %></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
      <footer class='@(when (not (string-contains? uri-path "/blog/")) "index")'>
        <hr />
        <p style="float: left">
          Contact me by
          <a href="mailto:reinvanderwoerd@"@"me.com">email</a>
          </p>
        <p style="float: right" class="feeds">
          <a href="/feeds/all.atom.xml">Atom</a>
          <a href="/feeds/all.rss.xml">RSS</a>
        </p>
      </footer>
  </div>
</body>
