<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>


<script src="../../web sketchbook/mindthegap/assets/overlay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/catalog-index-calafate.css"/>

<header>
    <img src="/images/" alt=""/>

</header>

<nav>
    <a id="reinvdwoerd" href="">reinvdwoerd</a>
    <span>interaction design</span>
</nav>

<div class="container">
    <div id="recent">
        <h1>Spotlight</h1>
    </div>
    <div id="index">
        <h1>Catalog</h1>
        <input type="text" id="filter" autofocus="" placeholder="filter...">
        <div class="content">

            <div class="column">
                <h2>Client</h2>
                <% data.catalog.clients.each do |c| %>
                <a class="client" name="<%= c %>" href="" ><%= c %></a> <br/>
                <% end %>
            </div>

            <div class="column">
                <h2>Project</h2>
                <% data.catalog.projects.each do |name, p| %>
                <a class="project"
                   href=""
                   data-year="<%= p.year || '2019'  %>"
                   data-client="<%= p.client || 'Side-project' %>"
                   data-technology="<%= p.tech %>">
                    <%= name %>
                </a> <br/>
                <% end %>
            </div>

            <div class="column">
                <h2>Technology</h2>
                <% data.catalog.technologies.each do |name| %>
                <a class="technology" name="<%= name %>" href=""><%= name %></a> <br/>
                <% end %>
            </div>


            <div class="column">
                <h2>Year</h2>
                <% data.catalog.years.each do |y| %>
                <a class="year" name="<%= y %>" href=""><%= y %></a> <br/>
                <% end %>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="left">
        <h2>Contact</h2>
        <a href="mailto:reinvanderwoerd@me.com">reinvanderwoerd@me.com</a>
        <a href="tel:0624175977">0624175977</a>
    </div>
    <div class="right">
        <h2>Find me on</h2>
        <a href="https://www.instagram.com/reinvanderwoerd/">Instagram</a>
        <a href="https://github.com/reinvdwoerd">Github</a>
    </div>
</footer>

<script>
    jQuery($ => {
        $('#index .client, #index .technology, #index .year').hover((e) => {
            const val = $(e.target).text()
            $('#index a').removeClass('highlight')
            $(`#index .project[data-${e.target.classList[0]}="${val}"]`).addClass('highlight')
        })

        $('#index .project').hover((e) => {
            const technology =
            $('#index a').removeClass('highlight')
            $(`#index .client[name="${$(e.target).data('client')}"]`).addClass('highlight-term')
            $(`#index .technology[name="${$(e.target).data('technology')}"]`).addClass('highlight-term')
            $(`#index .year[name="${$(e.target).data('year')}"]`).addClass('highlight-term')
        })

        $('#index a').mouseout((e) => {
            $('#index a').removeClass('highlight')
            $('#index a').removeClass('highlight-term')
        })

        $('#filter').on('keyup, keydown', function () {
            let val = $(this).val()
            $('#index a').each(function () {
                let containsCharacter = $(this).text().toLowerCase().includes(val.toLowerCase())
                // let termsContainCharacter = ($(this).data('technology') || '').includes(val.toLowerCase())
                //                             || ($(this).data('client') || '').includes(val.toLowerCase())
                //                             || ($(this).data('year') || '').includes(val.toLowerCase())
                $(this).toggleClass('hidden', !containsCharacter)
            })
        })
    })
</script>

<script>
    $(window).scroll(() => {
        $('body').toggleClass('header-fade-away', scrollY > 100)
    })
</script>
