<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>


<link rel="stylesheet" href="/stylesheets/catalog-index-blur.css"/>
<link rel="stylesheet" href="https://use.typekit.net/dui6dqy.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" async></script>

<header>

</header>

<nav>
    <a id="reinvdwoerd" href="">reinvdwoerd</a>
    <span>interaction design</span>
</nav>

<div class="container">

    <div id="index">
        <h1>Catalog <span id="count"><%= data.catalog.projects.count %> </span></h1>
        <input type="text" id="filter" autofocus="" placeholder="filter...">
        <div class="content">

            <div class="column">
                <h2>Client</h2>
                <% data.catalog.clients.each do |name, href| %>
                <a class="client" name="<%= name %>" href="<%= href %>" ><%= name %></a> <br/>
                <% end %>
            </div>

            <div class="column">
                <h2>Project</h2>
                <% data.catalog.projects.each do |name, p| %>
                <a class="project"
                   href=""
                   data-year="<%= p.year || '2019'  %>"
                   data-client="<%= p.client || 'Side-project' %>"
                   data-technology="<%= p.tech %>">
                    <%= name %>
                </a> <br/>
                <% end %>
            </div>

            <div class="column">
                <h2>Technology</h2>
                <% data.catalog.technologies.each do |name| %>
                <a class="technology" name="<%= name %>" href=""><%= name %></a> <br/>
                <% end %>
            </div>


            <div class="column">
                <h2>Year</h2>
                <% data.catalog.years.each do |y| %>
                <a class="year" name="<%= y %>" href=""><%= y %></a> <br/>
                <% end %>
            </div>
        </div>
    </div>


</div>


<footer>
    <div class="inner">
        <div class="left">
            <h2>Contact</h2>
            <a href="mailto:reinvanderwoerd@me.com">reinvanderwoerd@me.com</a>
            <a href="tel:0624175977">0624175977</a>
        </div>
        <div class="right">
            <h2>Find me on</h2>
            <a href="https://www.instagram.com/reinvanderwoerd/">Instagram</a>
            <a href="https://github.com/reinvdwoerd">Github</a>
        </div>
    </div>
</footer>

<script defer>
    jQuery($ => {
        /**
         * Highlight projects associated with term
         */
        $('#index .client, #index .technology, #index .year').hover((e) => {
            const val = $(e.target).text()
            $('#index a').removeClass('highlight')
            $(`#index .project[data-${e.target.classList[0]}="${val}"]`).addClass('highlight')
        })

        /**
         * Highlight terms associated with projects
         */
        $('#index .project').hover((e) => {
            const technology =
            $('#index a').removeClass('highlight')
            $(`#index .client[name="${$(e.target).data('client')}"]`).addClass('highlight-term')
            $(`#index .technology[name="${$(e.target).data('technology')}"]`).addClass('highlight-term')
            $(`#index .year[name="${$(e.target).data('year')}"]`).addClass('highlight-term')
        })

        $('#index a').mouseout((e) => {
            $('#index a').removeClass('highlight')
            $('#index a').removeClass('highlight-term')
        })

        /**
         * Preview
         */
        $('#recent a').hover(e => {
            $('#recent a').removeClass('active')
            $('header #preview').attr('src', $(e.target).data('src'))
            $(e.target).addClass('active')
        })

        $('#filter').on('change, keydown', function () {
            setTimeout(() => {
                let val = $(this).val()
                $('#index a').each(function () {
                    let containsCharacter = $(this).text().toLowerCase().includes(val.toLowerCase())
                    $(this).toggleClass('hidden', !containsCharacter)
                })
            }, 10)
        })

    })
    //
    // addEventListener('load', () => {
    //     $('iframe').attr('src', 'https://s.codepen.io/reinvdwoerd/debug/mZBzeR')
    //     $('iframe').removeClass('hidden')
    // })
</script>

<script>
    $(window).scroll(() => {
        $('body').toggleClass('header-fade-away', scrollY > 100)
    })
</script>
